<ion-card tappable margin-bottom (click)="openDetails(campaign)">
  <div class="campaign-container" [style.backgroundImage]="'url(' + campaign?.image + ')'">
    <h1 class="campaign-name">{{campaign?.name}}</h1>
    <p class="campaign-organisation">{{campaign?.organisation}}</p>
    <div class="card-bottom">
      <div class="campaign-raised">
        <h2>{{ campaign.raised || 0 }} kr av {{campaign.goal}} kr</h2>
      </div>
      <prog class="card-campaign-progress" [progress]="(campaign?.raised / campaign?.goal * 100) || 0"></prog>
    </div>
  </div>