prog {
    .container {
        height: 100%;
        border-radius: 20px;
        box-shadow: 5px;
        background-color: white;
        height: 100%;
        padding: 2%;
        .fill {
            border-radius: 20px;
            height: 100%;
            background-color: blueviolet;
        }
    }
}
